GK/Service References/JobService/Job.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Job" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56706/Job.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56706/Job.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56706/Job.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PropertyLayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IJob_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IJob_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IJob_GetMasterData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMasterData" />
  </wsdl:message>
  <wsdl:message name="IJob_GetMasterData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMasterDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IJob">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IJob/DoWork" message="tns:IJob_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJob/DoWorkResponse" message="tns:IJob_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMasterData">
      <wsdl:input wsaw:Action="http://tempuri.org/IJob/GetMasterData" message="tns:IJob_GetMasterData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJob/GetMasterDataResponse" message="tns:IJob_GetMasterData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Job" />
</wsdl:definitions>