GK/Service References/JobService/Job1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PropertyLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PropertyLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MasterData">
    <xs:sequence>
      <xs:element minOccurs="0" name="JobData" nillable="true" type="tns:ArrayOfJobDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MasterData" nillable="true" type="tns:MasterData" />
  <xs:complexType name="ArrayOfJobDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JobDetails" nillable="true" type="tns:JobDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJobDetails" nillable="true" type="tns:ArrayOfJobDetails" />
  <xs:complexType name="JobDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="CTC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompnayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecepientEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobDetails" nillable="true" type="tns:JobDetails" />
</xs:schema>